<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BECK'S DEPRESSION INVENTORY</title>
<style>

body {
font-family: 'Raleway', sans-serif;
}
 p.ridge {border-style: ridge;}
 
 div {
  
  font-family: 'Raleway', sans-serif;
  color:#2F4F4F;
  font-size: 160%;
  text-align: justify;
}
abc {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
   background-color: DodgerBlue;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
</style>
</head>
<body>
<center>
<h1>
<center><p class="ridge">
<font color="#02075D">Beck's Depression Inventory </font></center>
</h1>

<form>
  <p><h2><font color="red">Please select your options</font></h2></p>

  <h2>MOOD</h2>
  <div>
  <input type="radio" class ="uncheck" name="mood" value="0">
  <label for="mood1">I do not feel sad. </label><br>
  <input type="radio" class ="uncheck" name="mood" value="1">
  <label for="mood2">I feel sad </label><br>
  <input type="radio" class ="uncheck" name="mood" value="2">
  <label for="mood3">I am sad all the time and I can't snap out of it. </label><br>
  <input type="radio" class ="uncheck" name="mood" value="3">
  <label for="mood4">I am so sad and unhappy that I can't stand it. </label>
 </div>
  <br>  
  <br>
  <br>
  
  <h2>PESSIMISM</h2>
   <div>
  <input type="radio" class ="uncheck" name="pessimism" value="0">
  <label for="pessimism1">I am not particularly discouraged about the future. </label><br>
  <input type="radio" class ="uncheck" name="pessimism" value="1">
  <label for="pessimism2">I feel discouraged about the future.  </label><br>
  <input type="radio" class ="uncheck" name="pessimism" value="2">
  <label for="pessimism3">I feel I have nothing to look forward to.  </label><br>
  <input type="radio" class ="uncheck" name="pessimism" value="3">
  <label for="pessimism4">I feel the future is hopeless and that things cannot improve.  </label>
  
   </div>
  <br>  
  <br>
  <br>

<h2>SENSE OF FAILURE</h2>
 <div>
  <input type="radio" class ="uncheck" name="sof" value="0">
  <label for="sof1">I do not feel like a failure. </label><br>
  <input type="radio" class ="uncheck" name="sof" value="1">
  <label for="sof2"> I feel I have failed more than the average person.  </label><br>
  <input type="radio" class ="uncheck" name="sof" value="2">
  <label for="sof3"> As I look back on my life, all I can see is a lot of failures.  </label><br>
  <input type="radio" class ="uncheck" name="sof" value="3">
  <label for="sof4">I feel I am a complete failure as a person.  </label>
  
  
  <br>  
  <br>
  <br>
 </div>
<h2>SELF DISSATISFACTION</h2>
   <div>
   <input type="radio" class ="uncheck" name="sd" value="0">
  <label for="sd1">I get as much satisfaction out of things as I used to.  </label><br>
  <input type="radio" class ="uncheck" name="sd" value="1">
  <label for="sd2"> I don't enjoy things the way I used to.   </label><br>
  <input type="radio" class ="uncheck" name="sd" value="2">
  <label for="sd3"> I don't get real satisfaction out of anything anymore.   </label><br>
  <input type="radio" class ="uncheck" name="sd" value="3">
  <label for="sd4">I am dissatisfied or bored with everything.   </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>GUILT</h2>
   <div>
   <input type="radio" class ="uncheck" name="guilt" value="0">
  <label for="guilt1">I don't feel particularly guilty </label><br>
  <input type="radio" class ="uncheck" name="guilt" value="1">
  <label for="guilt2"> I feel guilty a good part of the time.   </label><br>
  <input type="radio" class ="uncheck" name="guilt" value="2">
  <label for="guilt3"> I feel quite guilty most of the time.   </label><br>
  <input type="radio" class ="uncheck" name="guilt" value="3">
  <label for="guilt4">I feel guilty all of the time.   </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>PUNISHMENT</h2>
   <div><input type="radio" class ="uncheck" name="pu" value="0">
  <label for="pu1">I don't feel I am being punished.  </label><br>
  <input type="radio" class ="uncheck" name="pu" value="1">
  <label for="pu2"> I feel I may be punished.   </label><br>
  <input type="radio" class ="uncheck" name="pu" value="2">
  <label for="pu3"> I expect to be punished.    </label><br>
  <input type="radio" class ="uncheck" name="pu" value="3">
  <label for="pu4">I feel I am being punished.   </label>
   </div>
  
  <br>  
  <br>
  <br>
  
  
 <h2>SELF DISLIKE</h2>
   <div>
   <input type="radio" class ="uncheck" name="sl" value="0">
  <label for="sl1">I don't feel disappointed in myself.  </label><br>
  <input type="radio" class ="uncheck" name="sl" value="1">
  <label for="sl2">I am disappointed in myself.    </label><br>
  <input type="radio" class ="uncheck" name="sl" value="2">
  <label for="sl3"> I am disgusted with myself.    </label><br>
  <input type="radio" class ="uncheck" name="sl" value="3">
  <label for="sl4">I hate myself.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>SELF ACCUSATION</h2>
   <div>
   <input type="radio" id="sa1" name="sa" value="A">
  <label for="sa1">I don't feel I am any worse than anybody else.  </label><br>
  <input type="radio" id="sa2" name="sa" value="B">
  <label for="sa2"> I am critical of myself for my weaknesses or mistakes.    </label><br>
  <input type="radio" id="sa3" name="sa" value="C">
  <label for="sa3"> I blame myself all the time for my faults.   </label><br>
  <input type="radio" id="sa4" name="sa" value="D">
  <label for="sa4">I blame myself for everything bad that happens.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
   <h2>SUICIDAL IDEAS</h2>
    <div>
  <input type="radio" class ="uncheck" name="si" value="0">
  <label for="si1">I don't have any thoughts of killing myself.  </label><br>
  <input type="radio" class ="uncheck" name="si" value="1">
  <label for="si2"> I have thoughts of killing myself, but I would not carry them out. </label><br>
  <input type="radio" class ="uncheck" name="si" value="2">
  <label for="si3"> I would like to kill myself.    </label><br>
  <input type="radio" class ="uncheck" name="si" value="3">
  <label for="si4">I would kill myself if I had the chance.    </label>
   </div>
  
  <br>  
  <br>
  <br>
  
  
   <h2>CRYING</h2>
   <div>
  <input type="radio" class ="uncheck" name="crying" value="0">
  <label for="crying1">I don't cry any more than usual.  </label><br>
  <input type="radio" class ="uncheck" name="crying" value="1">
  <label for="crying2"> I cry more now than I used to.   </label><br>
  <input type="radio" class ="uncheck" name="crying" value="2">
  <label for="crying3"> I cry all the time now.   </label><br>
  <input type="radio" class ="uncheck" name="crying" value="3">
  <label for="crying4">I used to be able to cry, but now I can't cry even though I want to.   </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
   <h2>IRRITABILITY</h2>
   <div>
  <input type="radio" class ="uncheck" name="irrit" value="0">
  <label for="irrit1">I am no more irritated by things than I ever was.   </label><br>
  <input type="radio" class ="uncheck" name="irrit" value="1">
  <label for="irrit2"> I am slightly more irritated now than usual.    </label><br>
  <input type="radio" class ="uncheck" name="irrit" value="2">
  <label for="irrit3">I am quite annoyed or irritated a good deal of the time.  </label><br>
  <input type="radio" class ="uncheck" name="irrit" value="3">
  <label for="irrit4">I feel irritated all the time.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
   <h2>SOCIAL WITHDRAWAL</h2>
   <div>
  <input type="radio" class ="uncheck" name="sw" value="0">
  <label for="sw1">I have not lost interest in other people.  </label><br>
  <input type="radio" class ="uncheck" name="sw" value="1">
  <label for="sw2"> I am less interested in other people than I used to be.    </label><br>
  <input type="radio" class ="uncheck" name="sw" value="2">
  <label for="sw3"> I have lost most of my interest in other people.    </label><br>
  <input type="radio" class ="uncheck" name="sw" value="3">
  <label for="sw4">I have lost all of my interest in other people.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>INDECISIVENESS</h2>
  
   <div><input type="radio" class ="uncheck" name="in" value="0">
  <label for="in1">I make decisions about as well as I ever could.  </label><br>
  <input type="radio" class ="uncheck" name="in" value="1">
  <label for="in2">I put off making decisions more than I used to.     </label><br>
  <input type="radio" class ="uncheck" name="in" value="2">
  <label for="in3"> I have greater difficulty in making decisions more than I used to.     </label><br>
  <input type="radio" class ="uncheck" name="sin" value="3">
  <label for="in4">I can't make decisions at all anymore.     </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>BODY IMAGE CHANGE</h2>
   <div>
  <input type="radio" class ="uncheck" name="bic" value="0">
  <label for="bic1">I don't feel that I look any worse than I used to.   </label><br>
  <input type="radio" class ="uncheck" name="bic" value="1">
  <label for="bic2">I am worried that I am looking old or unattractive.    </label><br>
  <input type="radio" class ="uncheck" name="bic" value="2">
  <label for="bic3"> I feel there are permanent changes in my appearance that make me look
 unattractive     </label><br>
  <input type="radio" class ="uncheck" name="bic" value="3">
  <label for="bic4">I believe that I look ugly.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>WORK DIFFICULTY</h2>
   <div>
  <input type="radio" class ="uncheck" name="wd" value="0">
  <label for="wd1">I can work about as well as before.  </label><br>
  <input type="radio" class ="uncheck" name="wd" value="1">
  <label for="wd2">It takes an extra effort to get started at doing something.     </label><br>
  <input type="radio" class ="uncheck" name="wd" value="2">
  <label for="wd3"> I have to push myself very hard to do anything.     </label><br>
  <input type="radio" class ="uncheck" name="wd" value="3">
  <label for="wd4">I can't do any work at all.     </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
  <h2>INSOMNIA</h2>
  <div>
  <input type="radio" class ="uncheck" name="ins" value="0">
  <label for="ins1">I can sleep as well as usual.    </label><br>
  <input type="radio" class ="uncheck" name="ins" value="1">
  <label for="ins2">I don't sleep as well as I used to.   </label><br>
  <input type="radio" class ="uncheck" name="ins" value="2">
  <label for="ins3">I wake up 1-2 hours earlier than usual and find it hard to get back to sleep.     </label><br>
  <input type="radio" class ="uncheck" name="ins" value="3">
  <label for="ins4">I wake up several hours earlier than I used to and cannot get back to sleep.    </label>
  
 </div>  
  <br>  
  <br>
  <br>
  
  
  <h2>FATIGABILITY</h2>
 <div>
 <input type="radio" class ="uncheck" name="fat" value="0">
  <label for="fat1">I don't get more tired than usual.  </label><br>
  <input type="radio" class ="uncheck" name="fat" value="1">
  <label for="fat2">I get tired more easily than I used to.     </label><br>
  <input type="radio" class ="uncheck" name="fat" value="2">
  <label for="fat3"> I get tired from doing almost anything.    </label><br>
  <input type="radio" class ="uncheck" name="fat" value="3">
  <label for="fat4">I am too tired to do anything.    </label>
  
 </div>  
  <br>  
  <br>
  <br>
  
  
    <h2>LOSS OF APPETITE</h2>
   <div>
  <input type="radio" class ="uncheck" name="sl" value="0">
  <label for="sl1">My appetite is no worse than usual.   </label><br>
  <input type="radio" class ="uncheck" name="sl" value="1">
  <label for="sl2">My appetite is not as good as it used to be.     </label><br>
  <input type="radio" class ="uncheck" name="sl" value="2">
  <label for="sl3"> My appetite is much worse now.   </label><br>
  <input type="radio" class ="uncheck" name="sl" value="3">
  <label for="sl4">I have no appetite at all anymore.    </label>
   </div>
  
  <br>  
  <br>
  <br>
  
  
    <h2>WEIGHT LOSS</h2>
   <div>
   <input type="radio" class ="uncheck" name="loss" value="0">
  <label for="loss1">I haven't lost much weight, if any, lately.   </label><br>
  <input type="radio" class ="uncheck" name="loss" value="1">
  <label for="loss2">I have lost more than five pounds.     </label><br>
  <input type="radio" class ="uncheck" name="loss" value="2">
  <label for="loss3"> I have lost more than ten pounds.     </label><br>
  <input type="radio" class ="uncheck" name="loss" value="3">
  <label for="loss4">I have lost more than fifteen pounds.    </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
    <h2>SOMATIC PREOCCUPATION</h2>
   <div>
  <input type="radio" class ="uncheck" name="sp" value="0">
  <label for="sp1">I am no more worried about my health than usual.   </label><br>
  <input type="radio" class ="uncheck" name="sp" value="1">
  <label for="sp2">I am worried about physical problems like aches, pains, upset stomach, or
 constipation.     </label><br>
  <input type="radio" class ="uncheck" name="sp" value="2">
  <label for="sp3"> I am very worried about physical problems and it's hard to think of much else.     </label><br>
  <input type="radio" class ="uncheck" name="sp" value="3">
  <label for="sp4">I am so worried about my physical problems that I cannot think of anything else.     </label>
  
   </div>
  <br>  
  <br>
  <br>
  
  
    <h2>LOSS OF LIBIDO</h2>
   <div>
   <input type="radio" class ="uncheck" name="lol" value="0">
  <label for="lol1">I have not noticed any recent change in my interest in sex.   </label><br>
  <input type="radio" class ="uncheck" name="lol" value="1">
  <label for="lol2">I am less interested in sex than I used to be.   </label><br>
  <input type="radio" class ="uncheck" name="lol" value="2">
  <label for="lol3"> I have almost no interest in sex.  </label><br>
  <input type="radio" class ="uncheck" name="lol" value="3">
  <label for="lol4">I have lost interest in sex completely. 

   </div>
  <br>  
  <br>
  <br>

   <input type ="button" name="resultButton" id = "totalSum" onclick="handleClick()" value = "Get Result" >
</form>

</p>
<script type="text/javascript">
 
    var all = document.getElementsByClassName("uncheck");
    var alen = all.length;
    while(alen--) {
      all[alen].onchange = function() {
        this.className = "check";
      }
    }
    function handleClick() {
      var selected = document.getElementsByClassName("check");
      var slen = selected.length;
      var answered = slen;
      var total = 0;
      while(slen--) {
        var se = selected[slen];
        if(se.checked) {
          total += parseInt(se.value);
        }
      }
      var questions = document.getElementsByTagName("form");
      if(answered < questions.length) {
        alert("You didn't select an answer for all questions");
      }
      else {
	
        alert("Your total score is " + total + " ...");
      }

}

</script>



</center>
</body>
</html>
