<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
body  {
  background-image: url("doc.jpg");
  background-color: #F0F8FF;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  position: relative;
  font-family: 'Raleway', sans-serif;

}

</style>
<center>
<h1>MAYBE YOU SHOULD TALK TO SOMEONE WHO CAN HELP</h1>
<br>
Fr. Joseph Anto<br>Consultant Clinical psychologist<BR>
<a href="tel:+9447991601"> +9447991601</a>
<br>
 <a href="mailto:drjosanto@gmail.com" target="_top">drjosanto@gmail.com</a>
</center>
</head>
<body>
</body>
</html>