<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>you are good to go</title>
<style>
body  {
  background-image: url("dep.jpg");
  background-color: #F0F8FF;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px;
  position: relative;
}

</style>
</head>
<body>
<center><BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<h3><button type="button" onclick="window.location.href = 'file:///C:/Users/Shalu/Desktop/project/beck.html';">TAKE TEST AGAIN !!</button></H3>
</center>
</body>
</html>